body {
    font-family: Arial, 'Arial Narrow', Arial, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Estilos para el menú de navegación */
.navbar {
    background-color: #3ba844;
    color: #fff;
    padding: 50px 0;
    text-align: center; /* Centra horizontalmente los elementos del menú */
}

    .navbar .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

/* Estilos para el menú desplegable */
.nav-menu {
    list-style: none;
    padding: 0px;
    margin: 0px;
    position: fixed; /* Posiciona el menú de forma fija en la ventana del navegador */
    top: 5px; /* Coloca el menú a 60px desde la parte superior de la ventana */
    right: 100px; /* Coloca el menú a 20px desde el borde derecho de la ventana */
    background-color: #0F62FE;
    border-radius: 5px;
    z-index: 10000; /* Asegura que el menú esté por encima de otros elementos */
}

/* Estilos para el botón de hamburguesa */
.hamburger-menu {
    background-color: #0F62FE;
    border: none;
    cursor: pointer;
    padding: 10px;
}

    /* Estilos para las barras del botón de hamburguesa */
    .hamburger-menu span {
        display: block;
        width: 15px; /* Aumenta el ancho de las barras */
        height: 4px; /* Aumenta el grosor de las barras */
        background-color: #fff; /* Color blanco */
        margin-bottom: 6px; /* Aumenta el espacio entre las barras */
        border-radius: 4px; /* Aumenta el radio de borde para hacer las barras más redondeadas */
        transition: all 0.3s ease;
    }

/* Estilos para el logo */
.logo {
    margin: 0;
    font-size: 22px; /* Tamaño de fuente más pequeño */
}

/* Estilos para el icono del carrito */
.cart-icon img {
    width: 50px;
}


/* Estilos para el menú desplegable */
.nav-menu {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: none; /* Oculta el menú por defecto */
    position: absolute; /* Posiciona el menú de forma absoluta */
    top: 0%; /* Coloca el menú justo debajo del botón de hamburguesa */
    right: 0;
    background-color: #0F62FE;
    border-radius: 5px;
    z-index: 10000; /* Asegura que el menú esté por encima del slider */
}

    .nav-menu.active {
        display: block; /* Muestra el menú cuando está activo */
    }

    .nav-menu li {
        display: block;
        margin-bottom: 20px;
    }

        .nav-menu li:last-child {
            margin-bottom: 0;
        }

        .nav-menu li a {
            text-decoration: none;
            color: #fff;
            font-size: 18px;
        }

/* Estilos para el slider */
.slider {
    position: absolute;
    width: 100%; /* Aumenta el ancho del slider */
    height: 280px; /* Aumenta la altura del slider */
    background-color: #0055AA;
    text-align: center;
    margin: auto; /* Centra horizontalmente el slider */
    left: 0;
    right: 0;
    top: 140px; /* Ajusta la posición vertical del slider */
    z-index: 1; /* Asegura que el slider esté por detrás del menú */
}

.slide {
    bottom: 0px;
    left: 0%;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
}

    .slide.active {
        display: flex;
    }

    .slide img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
        transition-duration: 2s; /* Duración de la transición de las imágenes */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 1); /* Agrega una sombra a las imágenes */
    }

/* Estilos para los indicadores de posición */
.slider-dots {
    position: absolute;
    top: 250px; /* Ajusta la posición vertical de los indicadores */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 15px; /* Reduce el tamaño de los indicadores */
    height: 15px; /* Reduce el tamaño de los indicadores */
    border-radius: 50%;
    background-color: #1f3768;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.8s ease;
}

    .dot.active {
        background-color: #fff;
    }

/* Estilos para las secciones */
.section {
    padding: 280px 0;
}

    .section h2 {
        margin-bottom: 20px;
    }

p {
    line-height: 1.5;
}

.section#contacto p {
    font-size: 15px; /* Tamaño de fuente más pequeño */
}
